.idea/misc.xml
.idea/modules.xml
.idea/Python_Basico.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
codecademy/.idea/codecademy.iml
codecademy/.idea/misc.xml
codecademy/.idea/modules.xml
codecademy/.idea/vcs.xml
codecademy/.idea/inspectionProfiles/profiles_settings.xml
